html {
	margin: 0 auto;
    padding: 0;
}

* {
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.4em;    
    margin: 0 auto; 
    padding: 0;
    color: #fff;
}

h3 {
    font-size: 1.6em;
    margin: 0 0 25px;
    color: #388e3c;
}


/* Header */
header {
    background: url(img/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 5.859375%;       
}

#banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    max-width: 76.45687645687646%;
    margin: 0 auto;
    height: 367px;
}

#banner nav {
    grid-column: 1 / 3;   
}

#banner .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    text-transform: uppercase;
    list-style-type: none;
    margin-left: -25px;
    align-items: flex-start;
    margin-top: 57px;    
}

#banner .navbar a {
    color: #fff;
    margin-left: 42px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    padding: 0;
}

.navbar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-collapse {
    flex-basis: unset;
}

#banner .button-flex a {
    width: 246px;
    padding: 13px 0;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 1.38em;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s;    
}

#banner .button-flex a:hover {
    background-color: #fff;
    color: #364036;
}

#banner .logo-flex {
    display: flex;
    align-items: flex-end;
    margin-bottom: 70px;
}

#banner .button-flex {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 70px;
}
#banner .logo-flex img {
    width: 71.32492693793301%;
    min-width: 260px;
}


/* .navbar */
.navbar-toggler {
    padding: 0;
    font-size: 2rem;
}


/* Main page */
#main-page {
    max-width: 76.45687645687646%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-bottom: 5.859375%;
}

#main-page ul {
    padding: 0;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 5.1091832459663%;
    color: #172717;
    font-size: 1em;
}

#main-page li {
    list-style-type: none;
    list-style-position: inside;
}

#main-page li:hover {
    color: #388e3c;
}

.psevdo-line::after {
    content: '';
    position: relative;
    display: inline-block;
    width: 40px;
    height: 1px;
    margin: 0 14px;
    background-color: #172717;
    top: -7px;
}

#main-page li:hover .psevdo-line:after {
    background-color: #388e3c;
}

#main-page #main-img {
    grid-column: 1;
    grid-row: 2;
}

#main-page #main-img img {
    width: 100%;
}

#main-content {
    grid-column: 2 / 3;
    margin-left: 45px; 
}

#main-content p {
    color: #172717;
    font-weight: 300;
    font-size: 1.1em;
    text-indent: 30px;
    margin-bottom: 0;
}


/* Gallery */
#gallery {    
    font-size: 0;
    line-height: 0;
}

#gallery>div {
    width: 25%;
    display: inline-block;
}

#gallery>div:hover {

}
#gallery>div>img {
    width: 100%;
}


/* champions */
#champions {
    position: relative;
    max-width: 76.45687645687646%;
    padding: 0 77px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 5.078125%;
    opacity: 0;
    transition: opacity 0.2s;
}

#champions .owl-stage-outer {
    padding: 14.43053938688397% 0 10px;
}

#champions.owl-loaded {
    opacity: 1;
}

#champions .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 60px;
    width: 100%;
    color: #172717;
}

#champions .owl-prev, #champions .owl-next {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

#champions .owl-prev {
    left: 0;
}

#champions .owl-next {
    right: 0;
}

#champions .owl-item .child {
    max-width: 78.79508578905327%;
    margin: 0 auto;
    box-shadow: 0 0 5px #000;
}

#champions .owl-item {
    transition: transform 0.2s;
}

#champions .owl-item.center {
    transform: translateY(-10%);
}

#champions .child .inscription {
    background-color: #172717;
    width: 100%;
}

#champions .child .inscription div {
    padding: 20px 0 1px;
    text-align: center;
    margin: 0;
}

#champions .child .inscription h4 {
    font-size: 1.1em;
    font-weight: 400;
    margin: 0;
}

#champions .child .inscription div p {
    font-size: 0.9em;
    line-height: 1.3em;
    margin-top: 2.770338904792686%;
    font-weight: 300;
}


/* contacts */
footer {
    background-color: #172717;
    margin-bottom: 4.296875%;
}

#lviv-contacts {
    max-width: 76.45687645687646%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    line-height: 0;
}

.map-lviv {
    margin-top: 7.113821138211382%;;
    max-width: 50%;
    max-height: 24.89837398373984%;
    width: 100%;
}

.map-lviv>img {
    width: 100%;
}

.info-lviv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 1.7em;
    font-size: 1.22em;
}

.info-lviv>img {
    margin-right: 35px;
}

.info-lviv p, .info-lubin p {
    font-size: 1.1em;
}

#lubin-contacts {
    max-width: 76.45687645687646%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    line-height: 0;
}

.map-lubin {
    max-width: 50%;
    max-height: 24.89837398373984%;
    width: 100%;
    margin-bottom: 7.113821138211382%;
}

.map-lubin>img {
    width: 100%;    
}

.info-lubin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    line-height: 1.7em;
    font-size: 1.22em;
    margin-bottom: 7.113821138211382%;
    width: 100%;
}

.info-lubin>img {
    margin: 0 3.678499172337686%;
}



/* contact form */
#contact-form {
    max-width: 76.45687645687646%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    padding-bottom: 50px;
}

.text-input {
    border: 2px solid #172717;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: block;
    font-size: 1.1em;
    text-indent: 10px;
}

#left-side-form {
    margin-right: 13px;
}

#right-side-form {
    margin-left: 13px;
}

.client-question {
    height: 151px;
    width: 100%;
    border: 2px solid #172717;
    box-sizing: border-box;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    text-indent: 10px; 
}

#message-box {
    grid-column: 1 / 3;
    margin: 0 auto;
    color: #172717;
}

#submit-button {
    background-color: #172717;    
    width: 22.86585365853659%;
    grid-column: 1 / 3;
    margin: 0 auto;
    margin-top: 2.540650406504065%;
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
    transition: background-color 0.2s;
    padding: 1.422764227642276% 0;
}

#submit-button:hover {
    border: 2px solid #172717;
    background: #fff;
    color: #172717;
}

::-webkit-input-placeholder {
    color: rgba(23, 39, 23, 0.8);
    text-indent: 10px;
    font-family: 'Roboto', sans-serif;
}

#scroll-up {
    opacity: 0.6;
    color: rgba(0, 0, 0, 0.75);
    border: 3px solid rgba(0, 0, 0, 0.9);
    padding: 0 15px 6px;
    position: fixed;
    bottom: 50px;
    right: 35px;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
}
